body{
    margin: 0;
    padding: 0;
    background-color: rgb(59, 59, 59);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

img{
    margin-top: 50px;
    border: 5px solid white;
    width: 600px;
}


h1, h2{
    font-style: italic;
    color: white;
    font-weight: normal;
    text-align: center;
    margin: 10px auto;
}

h1{
    font-weight: 600;
}