.caja {
    border: 1px solid rgb(212, 212, 212);
    background-color: rgb(240, 240, 240);
    padding: 20px;
    border-radius: 5px;
}

#labelPelicula{
    font-size: 2rem;
}

.btn{
    width: 70%;
}

h3{
    font-size: 2rem;
}